<!doctype html>
<html>
	<head>
		<meta charset="utf-8" />
		<meta name= "viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css')}}">
		<link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
		<style>
            .colortext{
                color: rgb(182, 241, 158);
            }
            
   			a { 
    			text-decoration: none;
   			}
  </style>
	</head>
	<body>


		<header class= "intro">
			<div class="container">
				<div class="header_inner">
					<div class="heder_logo"><a href = index.html><div class="main-text" data-aos="zoom-in">PlayWithoutCringe</div></a></div>
					<nav class="nav">
						<a class="nav_link" href="create-article.html">Создать статью</a>
						<a class="nav_link" href="signinpage.html">Вход</a>
						<a class="nav_link" href="aboutas.html">О нас</a>
					</nav>
				</div>
			</div>

			<div class="body">
            <h1><b>О нас</b></h1>
            <h2>Прямо сейчас вы зашли на нашу хаб-локацию: <span class="colortext">PLAYWITHOUTCRINGE</span> — платформа для нашего и вашего контента! Со своей стороны мы можем предложить:</h2>
            <h2><li>Читать здесь статьи.</li></h2>
            <h2><li>Общаться в комментариях (в том числе с нами).</li></h2>
            <h2><li>Создавать блоги.</li></h2>
            <h2><li>Подписываться на игры и разделы блогов, чтобы собрать из сайта собственную ленту предпочтительного контента.</li></h2>
            
            </div>
		</header>
	
		<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
		<script>
  			AOS.init();
		</script>
	</body>
</html>