@import url('https://fonts.googleapis.com/css2?family=Holtwood+One+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans+Extra+Condensed:wght@200&display=swap');

::-webkit-scrollbar{
	width: 0;
}

form{
	
	width: 400px;
	text-align: center;
	position: relative;
	top: 20%; right: -35%;
	z-index: 1000;
}

h1{
	font-family: 'Fira Sans Extra Condensed', sans-serif;
}

h2{
	font-family: 'Fira Sans Extra Condensed', sans-serif;
}


body {
	font-family: 'Holtwood One SC', serif;
	text-align: center;
	background: #fff;
	color: #fff;
    text-transform: uppercase;
	font-size: 16px;
	margin: 0;
}


.main-text{
	margin-top: 0%;
	background: url(1.jpg);
	font-size: 35px;
	color: transparent;
	-webkit-background-clip: text;
	animation: animate 10s infinite ease-in-out;
}
@keyframes animate {
	from {
		background-position: 0 0;
	}
	to{
		background-position: 100% 100%;
	}
}

/* intro */

.intro{
	width: 100%;
	height: 200vh;

	background: rgb(58, 58, 58) no-repeat center center fixed;
	min-height: 100%;
	background-size: cover;
	-webkit-background-size: cover;
	background-size: cover;
}

.intro__inner{
	width: 100%;
	max-width: 100%;
	margin: 0 auto;
	text-align: right;
}

.intro_title{
	color: #fff;
	font-size: 150px;
	font-weight: 700;
	text-transform: uppercase;
	text-align: center;
	line-height: 1;
}

/* Container */

.container{
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;
}

/* BodyText */

.bodytext{
	font-family: 'Oswald', sans-serif;
	display: inline-block;
	vertical-align: top;
	position: relative;
	font-size: 20px;
	width: 500px;

	color: #fff;
	text-decoration: none;
	text-transform: uppercase;
}

/* Header */

.header{
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	z-index: 1000;
}

.header_logo{
	color: #fff;
	font-size: 150px;
	font-weight: 700;
	text-transform: uppercase;
	text-align: center;
	line-height: 1;
}

/* Nav */

.nav{
	font-size: 14px;
	text-transform: uppercase;
}

.nav_link{
	font-family: 'Oswald', sans-serif;
	display: inline-block;
	vertical-align: top;
	margin: 15px;
	position: relative;

	color: #fff;
	text-decoration: none;

	transition: color .1s linear;
}

.nav_link:after{
	content: "";
	display: block;
	width: 100%;
	height: 3px;

	background-color: #fce38a;
	opacity: 0;

	position: absolute;
	top: 100%;
	left: 0;
	z-index: 1;

	transition: opacity .1s linear;

}

.nav_link:hover {
	color: #fce38a;
}

.nav_link:hover:hover:after{
	opacity: 1;
}

/* Footer */

.footer
{
    padding: 60px 0;
    background-color: #000000e1;;
}

.footer_inner
{
    display: flex;
    flex-wrap: wrap;
}


.footer_block
{
    width: 50%;
    text-align: center;
}


.footer_title
{
    font-size: 18px;
    font-weight: 700;
    color: white;
    text-transform: uppercase;
}


.footer_address
{
    line-height: .5;
    font-size: 16px;
    color: rgba(241, 245, 22, 0.76);
}